@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=optional?v=2000');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap?v=2000');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap?v=2000');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap?v=2000');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap?v=2000');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap?v=2000');
@import '_Styles/_import.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 23, 31;
    --background-end-rgb: 0, 23, 31;
    --color-accent: 255, 102, 102;
    --color-border: 55, 70, 79;
    --color-accent-dark: 202, 69, 69;
}

*:focus {
    outline: none;
}

.ubuntu-sans {
    font-family: "Ubuntu Sans", "Noto Color Emoji", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: inherit;
}

.playfaird-italic {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
}


.mono {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}


.nunito {
     font-family: "Nunito", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}

.noto-color-emoji-regular {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    font-size: 4.5rem/* 72px */;
    line-height: 1;
}

.noto-color-emoji-sm {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    font-size: 1rem;
    line-height: 1;
}


body {
    color: rgb(var(--foreground-rgb));
    background: rgba(var(--background-end-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html {
    font-size: 20px;
}